/* Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

dialog {
    margin: auto;
}

@font-face {
    font-family: "Inter";
    src: 
        url(resources/fonts/Inter-VariableFont_opsz\,wght.woff2) format("woff2 supports variation"),
        url(resources/fonts/Inter-VariableFont_opsz\,wght.woff2) format("woff2-variations");
    font-weight: 100 900;
}

body {
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --extra-bold: 800;

    --no-emphasis-clr: #818181;
    --sidebar-bg-clr: #FCFBFA;
    --primary-accent-clr: #EA1717;
    --secondary-accent-clr: #1F7CC0;
    --selected-clr: #FFE5D7; 
    --hover-clr: #EFEFEF;
    --priority-text-clr: white;
    --high-priority-clr: #FF5757;
    --medium-priority-clr: #FFB156;
    --low-priority-clr: #5BBAFF;
    --deactivated-clr: #BCBCBC;


    font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: var(--regular);
    min-height: 100vh;
}

img, svg, picture, video {
    display: block;
    max-width: 100%;
}

p {
    line-height: 1.5;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: var(--sidebar-bg-clr);
    min-height: 100vh;
    position: sticky;
    top: 0;
    padding: 1.5rem;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.3em;
}

nav button, .head, .head button {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.add-task {
    gap: 0.4rem;
}

nav button {
    gap: 0.4rem;
    width: 100%;
}

.head {
    justify-content: space-between;
}

.sidebar .head {
    margin-bottom: 1rem;
}

.icon {
    width: 1.5rem;
    fill: var(--no-emphasis-clr);
}

#menu-toggle {
    padding: 0.1em 0.2em;
}

#menu-toggle .icon {
    width: 2rem;
}

#menu-toggle .icon:hover {
    fill: var(--primary-accent-clr)
}

h1, h2 {
    font-weight: var(--extra-bold);
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

h3, .add-task, .add-project {
    font-weight: var(--medium);
}

button:hover {
    background-color: var(--hover-clr);
}

button.selected {
    background-color: var(--selected-clr);
    color: var(--primary-accent-clr);
}

button.selected .icon {
    fill: var(--primary-accent-clr);
}

nav.tasks {
    margin-bottom: 3rem;
}

.add-task {
    color: var(--primary-accent-clr);
}

.add-task .icon {
    fill: var(--primary-accent-clr);
}

.add-project {
    color: var(--secondary-accent-clr);
}

.add-project .icon {
    fill: var(--secondary-accent-clr)
}

.task-display {
    padding: 2rem 5rem;
}

.task-display .head {
    margin-bottom: 1.8rem;
}

.date {
    color: var(--no-emphasis-clr);
    font-weight: bold;
}

